
.main {
  flex-direction: column;
  max-width: 1640px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  justify-content: start;
  align-items: start;
  margin: 0 auto;
  transform: scale(0.9);
}

.container {
  background-color: var(--gray-500);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 28px;
  gap: 32px;
}

.iframe {
  flex: 1;
  width: 100%;
  height: 420px;
  display: flex;
}

.leftCol {
  display: flex;
  flex-direction: column;
  height: 760px;
  width: 700px;

}

.buttonsSocial {
  display: flex;
  gap: 16px;
  width: 100%;
}

.buttonsSocial2 {
  display: flex;
  width: 100%;
  flex: 1;
  gap: 24px
}

.rightContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  
}
.rightCol {
  flex-direction: column;
  background-color: var(--gray-800);
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: start;
  border-radius: 8px;
  padding: 32px;
}

.banner {
  display: flex;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.title {
  color: var(--green-500);
  margin: 0 0 4px;
}
.subtitle {
  color: var(--gray-200);
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid rgba(59, 59, 59, 0.8);

  background: linear-gradient(to right, #202020, #1b1b1b);
  padding: 8px 14px;
  margin: 8px 0;
}

.subtitleDescription {
  color: var(--gray-200);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.description {
  padding: 16px;
  border: 1px solid var(--green-500);
  border-radius: 6px;
  margin-bottom: 24px;
}

.headerContent{
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin-bottom: 12px
}
.contentStars {
  display: flex;
  height: 20px;
}

.titleContent {
  height: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}
.rating{
  height: fit-content;
  color: var(--white);
  display: flex;
  align-self: center;
}

.rating::before{
  content: '⭐';
  font-size: 16px;
  height: fit-content;
  color: var(--white);
  margin-right: 4px;
}

.shuffleButton {
  background-color: var(--green-500);
  color: black;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  padding: 16px;
  width: 100%;
  height: 74px;

  border: 1px solid var(--green-500);
  border-radius: 6px;

  transition: all 0.2s ease-out;
}

.shuffleButton:hover {
  cursor: pointer;
  background-color: #0c0c0c;
  color: var(--green-500);
  filter: brightness(1.35) saturate(1.5);
}

.trailerContainer {
  display: flex;
  width: 100%;
  height: max-content;
  gap: 34px;
}


.trailerContainer2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  width: 380px;
  max-width: 100%;
  padding:24px; 
  background: linear-gradient(180deg, rgb(12, 12, 12) 0%, rgb(22, 22, 22) 100%);
  
  filter: drop-shadow(0px 4px 12px rgba(3, 3, 3, 0.507));
  
  
  border-radius: 6px;

  transition: all 0.2s ease-out;
}

.buttonContainer:hover {
  cursor: pointer;
  border: 1px solid var(--green-500);
  filter: drop-shadow(0px 4px 7px rgba(20, 240, 167, 0.25));

}

.buttonView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}



.buttonGithub {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;

  background-color: var(--white);
  color: var(--gray-800);

  padding: 24px;
  width: 74px;
  height: 100%;

  border: none;
  border-radius: 6px;

  transition: all 0.2s ease-out;
}

.buttonGithub:hover {
  cursor: pointer;
  filter: invert(1);
  transform: scale(1.05);
}

.buttonLinkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;

  filter: brightness(0.75);
  background-color: #072242;
  color: var(--white);

  padding: 24px;
  width: 74px;
  height: 100%;


  border: none;
  border-radius: 6px;

  transition: all 0.2s ease-out;
}

.buttonLinkedin:hover {
  cursor: pointer;
  filter: brightness(1.45) saturate(1.5);
  transform: scale(1.05);
}


/* Efeito de skelleton*/
.skeletonBanner {
  display: flex;
  width: 440px;
  height: 660px;
  border-radius: 12px;
  border: 1px solid #ffffff09;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(36, 36, 36, 0.3) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );

  animation: animatedSkeleton 1.8s ease-in-out infinite;
}

@keyframes animatedSkeleton {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.skeletonContent {
  display: flex;
  width: 440px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #ffffff09;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(36, 36, 36, 0.3) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );

  animation: animatedSkeleton 1.8s ease-in-out infinite;

  margin-bottom: 12px;
}

@keyframes animatedSkeleton {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.skeletonSubtitle {
  width: calc(100% + 240px);
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff09;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(36, 36, 36, 0.3) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );

  animation: animatedSkeleton 1.8s ease-in-out infinite;

}

@keyframes animatedSkeleton {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}


.skeletonRating {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff09;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(36, 36, 36, 0.3) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );

  animation: animatedSkeleton 1.8s ease-in-out infinite;

}

@keyframes animatedSkeleton {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.skeletonDescription {
  width: 840px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #ffffff09;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(36, 36, 36, 0.3) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );

  animation: animatedSkeleton 1.8s ease-in-out infinite;

}

@keyframes animatedSkeleton {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}


.skeletonTrailer {
  width: 560px;
  height: 315px;
  border-radius: 8px;
  border: 1px solid #ffffff09;
  display: flex;
  position: relative;
  left: -74px;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(36, 36, 36, 0.3) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );

  animation: animatedSkeleton 1.8s ease-in-out infinite;

}

@keyframes animatedSkeleton {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

@media (max-width: 1024px) {
  .main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;
  transform: scale(1);
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  background-color: var(--gray-500);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 12px;
  padding: 24px;
  gap: 24px;
  max-width: 1440px;
}

.iframe {
  width: 1000px;
  height: 100%;
}

.leftCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  align-items: center;
  max-width: 720px;
  align-self: center;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 32px;
}

.buttonsSocial {
  display: flex;
  gap: 16px;
  width: 100%;
}

.rightContainer{
  flex: 1 ;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  
}
.rightCol {
  flex-direction: column;
  background-color: var(--gray-800);
  height: auto;
  display: flex;
  justify-content: start;
  border-radius: 8px;
  padding: 24px;
  max-width: 100%;
}

.banner {
  border-radius: 12px;
  width: 100%;
  min-width: 280px;
  min-height: 420px;
}


.trailerContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  gap: 34px;
}

.shuffleButton {
  max-width: 520px;
}
.buttonsSocial {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}


.buttonsSocial2 {
  margin-top: 12px;
  display: flex;
  gap: 24px;
  width: 100%;
  align-items: center;
  justify-content: space-between
}
.buttonContainer {
  width: 100%;
}

.shuffleButton{
  height: 74px;
  max-width: 100%;
}

.buttonGithub {
  width: 100%;
}
.buttonLinkedin {
  width: 100%;
}

.buttonLinkedin:hover {
  cursor: pointer;
  filter: brightness(1.45) saturate(1.5);
  transform: scale(1.05);
}


.buttonsSocial::before {
  content: '';
  background: #ebebeb5d;
  width: 100%;
  height: 1px;
  border-radius: 999px;
  margin-bottom: 14px;
}
}

@media (max-width: 640px) {
  .main {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;
  transform: scale(1);
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  background: none;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: none;
  padding: 0px;
  gap: 24px;
  max-width: 1440px;
  margin-top: -24px;
}

.iframe {
  width: 100%;
  height: 320px;
}

.leftCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  align-items: center;
  max-width: 720px;
  align-self: center;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 32px;
}

.buttonsSocial {
  display: flex;
  gap: 16px;
  width: 100%;
}

.rightContainer{
  flex: 1 ;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  
}
.rightCol {
  flex-direction: column;
  background: none;
  height: auto;
  display: flex;
  justify-content: start;
  border-radius: 8px;
  padding: 0px;
  max-width: 100%;
  gap: 18px;
}

.buttonLoading {
  cursor: not-allowed;
  background: #ffffff23;
}

.banner {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}


.trailerContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  gap: 34px;
}

.shuffleButton {
  max-width: 520px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.buttonsSocial {
  margin-top: 12px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.buttonsSocial2 {
  margin-top: 12px;
  display: flex;
  gap: 24px;
  width: 100%;
  align-items: center;
  justify-content: space-between
}

.shuffleButton{
  height: 74px;
}


.buttonGithub {
  width: 100%;
}
.buttonLinkedin {
  width: 100%;
}

.buttonLinkedin:hover {
  cursor: pointer;
  filter: brightness(1.45) saturate(1.5);
  transform: scale(1.05);
}


.buttonsSocial::before {
  content: '';
  background: #ebebeb5d;
  width: 100%;
  height: 1px;
  border-radius: 999px;
  margin-bottom: 14px;
}
}