.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
  width: 100%;
  
}

.switch {
  height: 32px;
  width: 74px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: start;

  border-radius: 9999px;
  border: 1px solid var(--green-500);
  background-color: var(--gray-500)
}

.circle {
  background-color: var(--green-500);
  height: 22px;
  width: 22px;
  border-radius: 50%;
}